/*html, body {
    height: 100%;
}
*/

body {
    background-color: #F5F5F5;
    color: #363B40;
}

img {
    max-height: 100%;
    display: block;
}

#header {
    margin: 0;
    background-color: #FF9500;
    display: block;
}

#retry {
    width: 440px;
    height: 60px;
    background: #f5f5f5;
    margin: auto;
    margin-top: 20px;
    display: block;
}

h1 {
    color: white;
    margin: auto;
    max-width: 480px;
    padding: 20px;
    font-size: 24px;
    /*
    display: block;
    float: left;  */  
}

.login-form h4 {
    color: #555;
    margin-bottom: 20px;
}

#login-form {
    width: 440px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    display: block;
    overflow: hidden;
}

.content {

}

.loading {

}

.debug {
    margin-left: 20px
}

.cards {
    width: 440px;
    height: 180px;
    padding: 0px;
    margin: auto;
    margin-top: 10px;
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.30);
    border-radius: 6px;
    overflow: hidden;
}

.photo {
    width: 140px;
    height: 180px;
    border-radius: 0 6px 6px 0;
    float: right;
    text-align: center;
}

.debug {
    margin-top: 20px;
}

.debug p {
    margin-bottom: 0;
}

.card {
    background-color: #fff;
    padding: 20px;
    width: 100%;
}

.card .name a,
.card .name a:visited,
.card .items .item a,
.card .items .item a:visited {
    font-size: 18px;
    color: #363B40;
    line-height: 24px;
}

.card .items {
    margin-top: 0px;
}

.card .items .item {
    margin-bottom: 5px;
}

.loading {
    font-size: 15pt;
}

#map {
    display: none;
}

.info {
    width: 300px;
    max-height: 180px;
    padding: 20px;
    color: #363B40;
    line-height: 24px;
    margin-top: 0px; 
}

.items {
    margin-top: 40px;
    width: 260px;
    color: #363B40;
}

.name {
    font-size: 24px;
    color: #363B40;
}

.address {
    font-size: 14px;
    color: #777777;
}

.visited {
    font-size: 14px;
    color: #777777;
}

.distance {
    font-size: 14px;
    color: #E66000;

}